.error-box {
  height: 100%;
  width: 100%; 
}

.error-body {
  padding-top: 5%; }
  .error-body h1 {
    font-size: 120px;
    font-weight: 900;
    text-shadow: 4px 4px 0 #ffffff, 6px 6px 0 #263238;
    line-height: 120px; }
