/*******************/
/*Feed widget*/
/*******************/

.feeds {
    margin: 0px;
    padding: 0px;
    li {
        list-style: none;
        padding: 10px;
        display: block;
        &:hover {
            background: $extra-light;
        }
        > div {
            width: 40px;
            height: 40px;
            margin-right: 5px;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            border-radius: 100%;
            i {
                line-height: 40px;
            }
        }
        span {
            float: right;
            width: auto;
            font-size: 12px;
        }
    }
}


